---
BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 4
AlignAfterOpenBracket: DontAlign
TabWidth: 2
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Middle
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 80
SortIncludes: true
SpacesBeforeTrailingComments: 1
ReflowComments: true
MaxEmptyLinesToKeep: 2
...
